In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("realest.csv")
df.head()

   Price  Bedroom   Space  Room   Lot     Tax  Bathroom  Garage  Condition
0   53.0      2.0   967.0   5.0  39.0   652.0       1.5     0.0        0.0
1   55.0      2.0   815.0   5.0  33.0  1000.0       1.0     2.0        1.0
2   56.0      3.0   900.0   5.0  35.0   897.0       1.5     1.0        0.0
3   58.0      3.0  1007.0   6.0  24.0   964.0       1.5     2.0        0.0
4   64.0      3.0  1100.0   7.0  50.0  1099.0       1.5     1.5        0.0

In [3]:
df.describe()

,Price,Bedroom,Space,Room,Lot,Tax,Bathroom,Garage,Condition
count,156.000000,156.000000,146.000000,156.000000,146.000000,147.000000,156.000000,156.000000,156.000000
mean,56.474359,3.166667,1097.246575,6.500000,32.808219,911.707483,1.480769,0.846154,0.230769
std,12.875307,1.348037,462.540698,1.675247,8.457859,443.263430,0.529408,0.808454,0.422682
min,32.000000,1.000000,539.000000,4.000000,24.000000,418.000000,1.000000,0.000000,0.000000
25%,46.000000,2.000000,805.250000,5.000000,25.000000,652.500000,1.000000,0.000000,0.000000
50%,55.000000,3.000000,965.500000,6.000000,30.000000,821.000000,1.500000,1.000000,0.000000
75%,65.000000,4.000000,1220.500000,7.000000,37.000000,1012.500000,2.000000,1.500000,0.000000
max,90.000000,8.000000,2295.000000,12.000000,50.000000,2752.000000,3.000000,2.000000,1.000000

In [7]:
df.isnull().mean().sort_values(ascending=False)

Space        0.070064
Lot          0.070064
Tax          0.063694
Price        0.006369
Bedroom      0.006369
Room         0.006369
Bathroom     0.006369
Garage       0.006369
Condition    0.006369
dtype: float64

In [12]:
stat_mean = df.mean()
stat_mean

Price          56.474359
Bedroom         3.166667
Space        1097.246575
Room            6.500000
Lot            32.808219
Tax           911.707483
Bathroom        1.480769
Garage          0.846154
Condition       0.230769
dtype: float64

In [13]:
stat_median = df.median()
stat_median

Price         55.0
Bedroom        3.0
Space        965.5
Room           6.0
Lot           30.0
Tax          821.0
Bathroom       1.5
Garage         1.0
Condition      0.0
dtype: float64

In [15]:
filtered_df = df[(df["Room"] == 4) & (df["Bathroom"] == 2)]
filtered_df

     Price  Bedroom  Space  Room   Lot    Tax  Bathroom  Garage  Condition
23    46.0      2.0  696.0   4.0  30.0  440.0       2.0     1.0        0.0
49    45.0      2.0    NaN   4.0  30.0  470.0       2.0     1.0        0.0
75    43.0      2.0    NaN   4.0  30.0  425.0       2.0     1.0        0.0
101   47.0      2.0  766.0   4.0  30.0  418.0       2.0     1.0        0.0
127   44.0      2.0  705.0   4.0   NaN    NaN       2.0     1.0        0.0
153   43.0      2.0  593.0   4.0  30.0  465.0       2.0     1.0        0.0

In [30]:
mean_Tax_filtered = filtered_df["Tax"].mean()
median_Tax_filtered = filtered_df["Tax"].median()
std_Tax_filtered = filtered_df["Tax"].std()
max_Tax_filtered = filtered_df["Tax"].max()
min_Tax_filtered = filtered_df["Tax"].min()
min_Tax_filtered

418.0

In [33]:
filtered_df["Tax"].describe()

count      5.000000
mean     443.600000
std       23.287336
min      418.000000
25%      425.000000
50%      440.000000
75%      465.000000
max      470.000000
Name: Tax, dtype: float64

In [ ]:
df[df["Space"]>800] 
rslt_df = df.sort_values(by = 'Price', ascending = False) 
rslt_df