In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('realest.csv')

In [16]:
summary_dict = {}

# Collecting the Statistics list
filtered_df = df[(df["Room"] == 4) & (df["Bathroom"] == 2)]

statistics  = []
statistics.append(filtered_df["Tax"].mean())
statistics.append(filtered_df["Tax"].std())
statistics.append(filtered_df["Tax"].median())
statistics.append(filtered_df["Tax"].min())
statistics.append(filtered_df["Tax"].max())

summary_dict['statistics'] = statistics

#   building the df of space > 800
df_space800 = df[df["Space"] > 800] 
sorted_space = df.sort_values(by = 'Price', ascending = False)  # sorting the df depending on the price column
summary_dict['data_frame'] = sorted_space


# calculating the number of observation 
m =  df["Lot"].quantile(4/5) 
observations =  df["Lot"] >= m 
number_observation = observations.sum() 

summary_dict['number_of_observations'] = number_observation

33

In [17]:
summary_dict['statistics']

[443.6, 23.28733561401991, 440.0, 418.0, 470.0]

In [18]:
summary_dict['data_frame']

     Price  Bedroom   Space  Room   Lot     Tax  Bathroom  Garage  Condition
114   90.0      8.0  2293.0  12.0  50.0  1181.0       3.0     2.0        0.0
88    88.0      8.0  2228.0  12.0  50.0  1208.0       3.0     2.0        0.0
36    88.0      8.0  2278.0  12.0  50.0  1183.0       3.0     2.0        0.0
140   88.0      7.0  2277.0  12.0  50.0  1248.0       3.0     2.0        0.0
62    85.0      7.0  2295.0  12.0  50.0  1233.0       3.0     2.0        0.0
..     ...      ...     ...   ...   ...     ...       ...     ...        ...
45    35.0      5.0  1142.0   7.0  25.0   543.0       1.5     0.0        0.0
71    34.0      4.0  1095.0   7.0  25.0   530.0       1.5     0.0        0.0
97    34.0      4.0  1087.0   7.0  25.0   584.0       1.5     0.0        0.0
149   32.0      4.0  1065.0   7.0  25.0   492.0       1.5     0.0        0.0
156    NaN      NaN     NaN   NaN   NaN     NaN       NaN     NaN        NaN

[157 rows x 9 columns]

In [20]:
summary_dict['number_of_observations']

33